.container {
  display: flex;
  background-image: url(../../public/assets/images/day/cloudy.jpg);
  background-position: center; /*圖片中心置中*/
  background-repeat: no-repeat;
  background-size: cover; /*圖片佈滿頁面*/
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.weather-app {
  height: 100vh;
  color: #fff;
  position: relative;
  transition: 500ms; /*0.5s*/
  opacity: 1;
}
