.city-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 5em;
  left: 22em;
  margin: 0;
}

.city-name {
  font-size: 3rem;
  margin-bottom: 0.2em;
}

.city-time {
  font-size: 0.875rem;
  margin-left: 0.2em;
}
